[{:db/id -1, :atpg/activating-value "{:stuck-at-0 1, :stuck-at-1 0}", :atpg/detection-rate-pct "{:transition-slow 80, :transition-fast 80, :bridging-and 60, :bridging-or 60}", :atpg/max-random-fill-bits 16, :atpg/prng-seed -3819410108451629448}]