[{:db/id -1, :bist/march-elements "{:march-c 10, :march-c-minus 10, :march-b 17, :march-a 15, :checkerboard 4}", :bist/mbist-overhead-cycles 10, :bist/mbist-extra-states 3, :bist/lbist-patterns-per-chain 1024}]