[{:db/id -1, :jtag/instruction-names "{:bypass \"BYPASS\", :extest \"EXTEST\", :sample-preload \"SAMPLE\", :idcode \"IDCODE\", :boundary-scan \"BOUNDARY_SCAN\"}", :jtag/instruction-opcodes "{:extest 0, :sample-preload 1, :idcode 2, :boundary-scan 3}", :jtag/cell-type-bsdl-names "{:bc1 \"BC_1\", :bc2 \"BC_2\", :bc4 \"BC_4\", :bc7 \"BC_7\"}"}]